@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

.leaderboard-container {
  padding: 2rem;
  background-image: url(/bg-rank.svg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-title {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin-top: 270px;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 10px rgb(165, 62, 190);
  font-family:  sans-serif;
}

.mode-selector {
  margin-bottom: 2rem;
}

.mode-selector select {
  padding: 0.6rem 1rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: #7edaf2;
  color: #ffffff;
  font-family: system-ui, 'Open Sans', sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 0.5rem;
}

.mode-selector select:hover {
  background-color: #b5d8ff;
}

.table-wrapper {
  width: 100%;
  max-width: 900px;
  max-height: 850px;
  overflow: auto;
  background: rgb(125, 199, 212);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.table-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #93899c8f;
  border-radius: 10px;
}

.leaderboard-table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
}

.leaderboard-table thead {
  background: linear-gradient(#310092, #8c52ff);
  color: white;
}

.leaderboard-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* -------------------
   RESPONSIVE STYLE
-------------------- */
@media (max-width: 768px) {
  .leaderboard-container {
    padding: 1rem;
  }

  .leaderboard-title {
    font-size: 2rem;
    margin-top: 150px;
  }

  .mode-selector {
    margin-bottom: 1.5rem;
  }

  .mode-selector select {
    font-size: 0.95rem;
    padding: 0.5rem 0.8rem;
  }

  .table-wrapper {
    max-height: 500px;
    margin-top: 1rem;
  }

  .leaderboard-table {
    min-width: 500px;
  }

  .leaderboard-table th,
  .leaderboard-table td {
    font-size: 0.85rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .leaderboard-title {
    font-size: 1.6rem;
    margin-top: 120px;
  }

  .table-wrapper {
    max-height: 400px;
  }

  .leaderboard-table {
    min-width: 400px;
  }

  .leaderboard-table th,
  .leaderboard-table td {
    font-size: 0.8rem;
  }
}
