@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/bg-game.svg);
    font-family: 'Poppins', sans-serif;
}

#view {
    margin-top: 30px;
}

#mazeContainer {
    top: 15px;
    opacity: 0;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}
#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 2px black;
    height: 700px;
    margin-top: 60px;
}
input, select {
    cursor: pointer;
    background-color:  #19174d;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 35px;
    height: 70px;
    width: 200px;
    padding: 10px;
    border: none;
    color: #d7fdff;
    display: inline-block;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    appearance: none;
    font-weight: 700;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px -2px 4px rgba(255, 255, 255, 0.3);
}

input:active, select:active {
	background-color: black;
}
input:focus, select:focus {
	outline: none;
}
.custom-select {
	display: inline-block;
}
.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: 125px center;
}
#Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 1;
}
#Message-Container #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
#page {
	text-align: center;
	height: auto;
	width: auto;
	margin: auto;
}
#page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}
#page #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}
#page #view {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}
.border {
    border: 10px black solid;
    border-radius: 10px;
}

#instructions {
    margin-top: 860px;
    font-size: 47px;
    color: #19174d;
}
 
/* .user-banner {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: rgba(109, 40, 40, 0.85);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-size: 0.95rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 1rem;
} */

.back-button {
  padding: 0.4rem 1rem;
  background-color: #024473;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.back-button:hover {
  background-color: #01375e;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
	input, select {
	    width: 120px;
	}
}